<div class="row">
    <div class="seven columns offset-by-two">
        <h3>Contact</h3>
    </div>
</div>
<div class="row">  <div class="two columns offset-by-two">
      <p class="job">Postal Address</p>
  </div>
  <div class="five columns">
      <p>
        Postbox 46287X<br /> 11516 Berlin <br /> Germany</p>

    </div>
</div>

<div class="row">  <div class="two columns offset-by-two">
      <p class="job">Email</p>
  </div>
  <div class="five columns">

        <p>
          {%include email.html %}          
        </p>
    </div>
</div>
