<div class="row">
    <div class="seven columns offset-by-two">
        <h3>Contact</h3>
    </div>
</div>
<!--
<div class="row">  <div class="two columns offset-by-two">
      <p class="job">Postal Address</p>
  </div>
  <div class="five columns">
      <p>
        Postbox 46287X<br /> 11516 Berlin <br /> Germany</p>

    </div>
</div>
-->
<div class="row">  <div class="two columns offset-by-two">
      <p class="job">Email</p>
  </div>
  <div class="five columns">

        <p>
          {%include email.html %}
        </p>
    </div>
</div>
<div class="row">  <div class="two columns offset-by-two">
    <p class="job">Profiles</p>
</div>
<div class="five columns">

    <ul class="none inline social">

        <li><a href="https://de.linkedin.com/in/martingude/" rel="me"><ion-icon name="logo-linkedin"></ion-icon><span class="icon-desc">Martin Gude on LinkedIn</span></a></li>
        <li><a href="https://home.social/@ma6" rel="me"><ion-icon name="logo-mastodon"></ion-icon><span class="icon-desc">@ma6 on Mastodon</span></a></li>
         <li><a href="https://instagram.com/martingude" rel="me"><ion-icon name="logo-instagram"></ion-icon><span class="icon-desc">@martingude on instagram</span></a></li>
        <li><a href="https://facebook.com/martin.gude" rel="me"><ion-icon name="logo-facebook"></ion-icon><span class="icon-desc">Martin Gude on Facebook</span></a></li>
        <li><a href="https://github.com/ma6" rel="me"><ion-icon name="logo-github"></ion-icon><span class="icon-desc">Martin Gude on GitHub</span></a></li>
        <li><a href="https://slideshare.net/ma6" rel="me"><ion-icon src="<?php echo get_template_directory_uri(); ?>/images/social/slideshare.svg"></ion-icon><span class="icon-desc">Martin Gude on Slideshare</span></a></li>
        <?php /*
            <!--<li><a href="https://www.xing.com/profile/Martin_Gude"><i class="icon-xing"></i><span class="icon-desc">Martin Gude on XING</span></a></li>-->
            <li><a href="https://twitter.com/ma6"><i class="icon-twitter"></i><span class="icon-desc">@ma6 on twitter</span></a></li>
            <li><a href="https://www.scoop.it/u/ma6_me" rel="me"><i class="icon-scoopit"></i><span class="icon-desc">Martin Gude on Scoop.it!</span></a></li>
        */ ?>
    </ul>
  </div>
</div>