<div class="row">
    <div class="three columns offset-by-nine small">
        <p>
            Rudolf-Reusch-Straße 38
            <br />10367 Berlin
            <br />Germany
            <br />
            <script type="text/javascript">
                Rot13.write('<n uers="znvygb:z@znegva-thqr.pbz">z@znegva-thqr.pbz</n>');

            </script>
            <noscript>
                <span class="mailsafe">spamprotected.</span>m<span class="mailsafe">huhw.esns</span>@mart<span class="mailsafe">werew</span>in-g<span class="mailsafe">dffs3e</span>ud<span class="mailsafe">jiodnof</span>e.com
            </noscript>
            <br />Mobile +49 <span class="mailsafe">spamprotected.</span><span class="mailsafe1">16</span><span class="mailsafe">78 9</span><span class="mailsafe1">3 63</span><span class="mailsafe">5874</span><span class="mailsafe1">165</span><span class="mailsafe">87172</span><span class="mailsafe12">25<span class="mailsafe">75771</span></span>
        </p>
    </div>
</div>
<div class="row">
    <div class="seven columns offset-by-two">
        <h1>Martin Gude</h1>
    </div>
</div>
<div class="row">
    <div class="seven columns offset-by-two">
        <ul class="para big">
            <li>Experience Strategist and Product Manager</li>
        </ul>
    </div>
</div>
<div class="row" style="margin-top: 50px; margin-bottom: 75px;">
    <div class="seven columns offset-by-two">
        <p>
            <img srcset="/images/mgu2x.jpg 2x, /images/mgu1x.jpg 1x" src="/images/mgu1x.jpg" style="width: 100%; height: auto;">
        </p>
    </div>
</div>
