<div id="header">
    <div class="grid_9 lang">
        <p>&nbsp;</p>
    </div>
    <div class="grid_3  small">
        <p>
            Rudolf-Reusch-Straße 38
            <br />10367 Berlin
            <br />Germany
            <br />
            <script type="text/javascript">
                Rot13.write('<n uers="znvygb:z@znegva-thqr.pbz">z@znegva-thqr.pbz</n>');

            </script>
            <noscript>
                <span class="mailsafe">spamprotected.</span>m<span class="mailsafe">huhw.esns</span>@mart<span class="mailsafe">werew</span>in-g<span class="mailsafe">dffs3e</span>ud<span class="mailsafe">jiodnof</span>e.com
            </noscript>
            <br />Mobile +49 <span class="mailsafe">spamprotected.</span><span class="mailsafe1">16</span><span class="mailsafe">78 9</span><span class="mailsafe1">3 63</span><span class="mailsafe">5874</span><span class="mailsafe1">165</span><span class="mailsafe">87172</span><span class="mailsafe12">25<span class="mailsafe">75771</span></span>
        </p>
    </div>
    <div class="clear">&nbsp;</div>
    <div class="grid_7 prefix_2">
        <h1>Martin Gude</h1>
    </div>
    <div class="grid_3">
        <h2>Curriculum Vitae</h2>
    </div>
    <div class="clear">&nbsp;</div>
    <div class="grid_7 prefix_2">
        <ul class="para big">
            <li>User Experience Consultant</li>
            <li>Digital Strategist</li>
            <li>Information Architect</li>
        </ul>
        <p>
            <img srcset="/images/mgu2x.jpg 2x, /images/mgu1x.jpg 1x" src="/images/mgu1x.jpg">
        </p>
    </div>
    <div class="clear">&nbsp;</div>
</div>



<div class="grid_7 prefix_2">
    <h3>Profile</h3>
</div>
<div class=" clear">&nbsp;</div>
<div class="job_item">
    <div class="grid_7 prefix_2">
        <p>
            Ich bin ein UX Consultant mit strategischem Fokus und Stärke in der Discovery Phase. Dort nutze ich Tools wie Personas, Customer Journeys, Business Model Canvas, etc. um den Scope zu definieren. In der Delivery Phase liegt mein Schwerpunkt auf Artefakten wie User Stories (und User Story Maps), Wireframes, oder Business Process Models.</p>
        <p> Ich bringe mit meiner strategischen Denkweise und meiner Arbeit in Produkt-/Programmanagement-Teams eine Mischung aus inhaltlichem Arbeiten und organisatorischer Projektsteuerung und Kundenführung mit.
        </p>
    </div>
    <div class="clear">&nbsp;</div>
</div>
