<div class="row">
    <div class="seven columns offset-by-two">
        <h3>Profile</h3>
    </div>
</div>
<div class="row">
    <div class="seven columns offset-by-two">
        <p>
            My name is Martin Gude. I am an experience strategist, product manager and agile enthusiast. I help people
            and teams generate exciting ideas and turn them into reality.</p>
        <p>
            I focus on design strategy, using tools such as personas, scenarios, customer journeys, business model and
            value proposition canvases to create a product vision. I design and facilitate workshops using the
            Liberating Structures toolbox. I take the results as input for delivery. Then, I write user stories from a
            customer and experience perspective. I hold certifications from scrum.org (Agile Leadership, Product Owner,
            and Scrum Master) and APMG (Change Management).
        </p>
        <p> 
            With a strategic mindset and experience in product, programme and change management, I bring a mix of design
            and content work with project management and customer service.
        </p>
    </div>
</div>