<div class="grid_7 prefix_2">
    <h3>Profile</h3>
</div>
<div class=" clear">&nbsp;</div>
<div class="job_item">
    <div class="grid_7 prefix_2">
        <p>
            Ich bin ein UX Consultant mit strategischem Fokus und Stärke in der Discovery Phase. Dort nutze ich Tools wie Personas, Customer Journeys, Business Model Canvas, etc. um den Scope zu definieren. In der Delivery Phase liegt mein Schwerpunkt auf Artefakten wie User Stories (und User Story Maps), Wireframes, oder Business Process Models.</p>
        <p> Ich bringe mit meiner strategischen Denkweise und meiner Arbeit in Produkt-/Programmanagement-Teams eine Mischung aus inhaltlichem Arbeiten und organisatorischer Projektsteuerung und Kundenführung mit.
        </p>
    </div>
    <div class="clear">&nbsp;</div>
</div>
