<!DOCTYPE html>
<html lang="en">

<head>
    <!-- {{ site.time | date_to_rfc822 }} -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Martin Gude - Experience Strategist and Product Manager</title>
    <meta name="DC.title" content="Martin Gude - Experience Strategist and Product Manager" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="keywords" content="Martin Gude, User Experience Consultant, Information Architect, Concept Designer">

    <!-- CSS -->
    <link rel="stylesheet" href="//fonts.staticsi.de/vollkorn-v8-latin-ext_latin/css/vollkorn.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/screen.css?{{ site.time | date: "%Y%m%d%H%M%S"  }}" />


    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/styles.css?{{ site.time | date: "%Y%m%d%H%M%S"  }}" />
    <link rel="stylesheet" type="text/css" media="print" href="/css/print.css?{{ site.time | date: "%Y%m%d%H%M%S"  }}" />
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="/js/rot13.js"></script>

    <link rel="shortcut icon" href="//martin-gude.com/favicon.png" type="image/png" />
    <link rel="image_src" href="//martin-gude.com/favicon.png" />

    <!-- Fix IE5-7 to behave like IE8 -->
    <!--[if lt IE 8]>
<script src="//ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script>
<![endif]-->

    {% unless site.github.environment == "development" %}
    {%include tracking.html %}
    {% endunless %}

</head>

<body>
    <div class="container">
        {%include header.html %}
        {%include profile.html %}

        {{content}}
    </div>


</body>

</html>
